extends ../layouts/default

block head
    meta(property="og:title"        content="South Florida Board")
    meta(property="og:url"          content="https://www.sflultimate.com/board")
    meta(property="og:description"  content="Learn how to become involved in your South Florida Ultimate board!")

block content
    .container
        h1 Board
        h2 What We Need
        p.lead It takes a community to grow one.  Here's the roles needed to make this happen.
        for position in positions
            if position.active
                .row
                    .col-sm-12
                        h2=position.title
                        p
                            strong="Currently held by " + position.assigned.map(p => [p.name.first, p.name.last].join(' ')).join(' & ')
                        p=position.description
                        ul.list-inline
                            for link in position.links
                                li
                                    a(href=link.url target="_blank")=link.label
        hr
        h2.text-center Our Team
        .row
            for member in boardMembers
                if member.active
                    .col-sm-4
                        if member.image
                            img(src=member.image.url class='img-responsive img-rounded' style='margin: 0 auto;')
                        h4.text-center=member.name.first + " " + member.name.last
                        p
                            strong=member.category
                        p=member.description
                            ul.list-inline
                                for link in member.links
                                    li
                                        a(href=link.url target="_blank")=link.label
        hr
