extends ../layouts/default

block head
    meta(property="og:title"        content="South Florida Events")
    meta(property="og:url"          content="https://www.sflultimate.com/events")
    meta(property="og:description"  content="See what events are local to the South Florida area!")

block content
    .container
        h1 Events
        p.lead Here are some upcoming events for you #{yay}.
        for event in events
            if event.active
                .row
                    //.col-sm-3.text-center
                    //    img(src=event.image class='img-responsive' style='margin: 0 auto;')
                    .col-sm-12
                        h2=event.title
                        p
                            strong=event.category
                        p=event.description
                        ul.list-inline
                            for link in event.links
                                li
                                    a(href=link.url target="_blank")=link.label
                    hr
