extends ../layouts/default

block head
    meta(property="og:title"        content="South Florida Events")
    meta(property="og:url"          content="https://www.sflultimate.com/events")
    meta(property="og:description"  content="See what events are local to the South Florida area!")

block content
    .container
        h1 Calendar        
        iframe(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1QbLcE0hE72nw--gBLaNKwIYX3P8YZr9w8TMz2yqL62qIkXxxoRcmNXLT_whp5mg_oVfV5dwV23mh/pubhtml?widget=true&amp;headers=false", width='100%', frameBorder="0",  style='height: 980px;')
        
        h1 Upcoming Events
        p.lead Below you will find our list upcoming events.
        for event in events
            if event.active
                .row
                    .col-sm-12
                        h2=event.title
                        p
                            strong=event.start_time_formatted
                            |  <br/><em>#{event.location}</em>
                            |  •  #{event.category}
                        p=event.description
                        ul.list-inline
                            for link in event.links
                                li
                                    a.btn.btn-default(href=link.url target="_blank")=link.label

        hr
        h1 Past Events
        for event in events
            if !event.active
                .row.text-muted
                    .col-sm-12
                      h3=event.title
                  p
                      strong=event.start_time_formatted
                        |  <br/><em>#{event.location}</em>
                        |  •  #{event.category}
                  p=event.description
                  ul.list-inline
                      for link in event.links
                        li
                          a.btn.btn-default(href=link.url target="_blank")=link.label
                hr
                
