extends ../layouts/default

block head
  meta(property="og:title"        content="2016 Spring League Registration")
  meta(property="og:type"         content="website")
  meta(property="og:url"          content="http://www.sflultimate.com/register")
  meta(property="og:image"        content="http://www.sflultimate.com/registration-og-image.jpg")
  meta(property="og:description"  content="Registration is now open.  For Spring League we'll be back at Ives Estates Park on Sundays, starting February 21st.")


block content
  .container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
    h1 2016 Spring League Registration

    h3 Summary

    p This spring we'll be back at Ives Estates Park, just off I-95 at Ives Dairy Road.
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31005.449205043788!2d-80.19220334227433!3d25.967580427814696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ac3d69e2ec2d%3A0xa21f0a46872e76b8!2sIves+Estate+Park!5e0!3m2!1sen!2sus!4v1452868641288" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen)
    p Regular season games will be <strong>Sunday afternoons at either 3pm, 5pm or 7pm, starting February 21st</strong>. We're planning on 9 weeks of play, skipping March 27th for Easter and March 6th due to field closures, and ending on April 24th. <strong>Finals are tentatively set for Saturday, May 14th</strong> at Amelia Earhart Park.

    p Registration will be open <strong>February 1st-13th</strong> and the costs are:
    ul
      li $30 for students
      li $50 for everyone else
    p The fee includes the games, playoffs, events and pre-season party.  Late registration (at a $65 fee for everyone, as space permits) will be Feb. 14th-16th.
    p The pre-season kickoff party will be Saturday, February 13th at Haulover Beach. We'll send more details on that as it gets closer.

    hr

    h3 Registration
    form(action="register" method="post" autocomplete="off")
      if err
        .alert.alert-danger
          strong Error: 
          span=err
      input#user_id.form-control.hidden(type='user_id' autocomplete='false' name='user_id' placeholder='' value=formData.user_id)
      .row
        .col-xs-6
          .form-group
            label(for='firstName') First Name
            input#firstName.form-control(type='text' name='name.first' placeholder='' value=formData['name.first'] required)
        .col-xs-6
          .form-group
            label(for='lastName') Last Name
            input#lastName.form-control(type='text' name='name.last' placeholder='' value=formData['name.last'] required)

      .form-group
        label(for='email') Email address
        input#email.form-control(type='email' name='email'   placeholder='' value=formData.email required)

      .form-group
        label(for='partner') Partner<br><small>If you would like to pair up with another player for sign-up, write their name here.</small>
        input#partner.form-control(type='partner' autocomplete='false' name='partner' placeholder='' value=formData.partner)
        input#partner_id.form-control.hidden(type='partner_id' autocomplete='false' name='partner_id' placeholder='' value=formData.partner_id)
      label Are you a:
      .radio
        label
          input#adult(type='radio'   name='age' value='adult' checked)
          |     Adult
      .radio
        label
          input#student(type='radio' name='age' value='student')
          |     Student

      label(for="shirtSize" name="shirtSize") Shirt Size
      select#shirtSize.form-control(name="shirtSize" value=formData.shirtSize)
        option(value="S") S
        option(value="M") M
        option(value="L") L
        option(value="XL") XL
        option(value="XXL") XXL

      br
      label(for="skillLevel" name="skillLevel") Skill Level
      select#skillLevel.form-control(name="skillLevel" value=formData.skillLevel)
        option(value='1') 1 - Absolute Beginner
        option(value='2') 2 - Hey wait, what's a flick?
        option(value='3') 3 - Working on throws, basic knowledge of game
        option(value='4') 4 - Pickup player, okay throws
        option(value='5') 5 - Decent backhand & forehand. Little to no club experience
        option(value='6') 6 - Fairly solid backhand & forehand. Some club experience
        option(value='7') 7 - Tourney experience. Several years of club
        option(value='8') 8 - Club level, solid all around, not prone to errors
        option(value='9') 9 - Rock star. spot on throws, awesome D

      br
      h3 Waiver
      .checkbox
        label
          input(type='checkbox', value='' required)
          | I agree to SFLUltimate's <a data-toggle="modal" data-target="#waiver">terms & conditions</a>.

      h3 Payment Information
      #payment-form
      .text-center
        button.btn.btn-default.btn-lg.btn-primary(type='submit') Submit

  .modal.fade(tabindex='-1', role='dialog' id='waiver')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Waiver
        .modal-body
          p
            | 1. In consideration for receiving permission to participate in the South Florida Ultimate Spring League I hereby <strong>release, waive, discharge, and convenant not to sue</strong> South Florida Ultimate, their officers, agents, or employees (hereinafter referred to as <strong>releasees</strong>) from any and all liability, claims, demands, actions, and causes of action whatsoever arising out of or related to any loss, damage, or injury, including death, that may be sustained by me, or to any property belonging to me, while participating in such activity, while in, on or upon the premises where the activities are being conducted, <strong>regardless of whether such loss is caused by the negligence of the releasees</strong>, or otherwise and regardless of whether such liability arises in tort, contract, strict liability, or otherwise, to the fullest extent allowed by law.
          p
            | 2. I am fully aware of the risks and hazards connected with the activities of Ultimate, and I am aware that such activities include the risk of injury and even death, and I hereby elect to voluntarily participate in said activities, knowing that the activities may be hazardous to my property and me. I understand that South Florida Ultimate does not require me to participate in this activity. I voluntarily assume full responsibility for any risks of loss, property damage, or personal injury, including death, that may be sustained by me, or any loss or damage to property owned by me, as a result of being engaged in such an activities, <strong>whether caused by the negligence of releasees</strong> or otherwise, to the fullest extent allowed by law.
          p
            | 3. I further hereby <strong>agree to indemnify and hold harmless the releasees</strong> from any loss, liability, damage, or costs, including court costs and attorneys' fees that Releases may incur due to my participation in said activities, <strong>whether caused by the negligence of releasees</strong> or otherwise, to the fullest extent allowed by law.
          p
            | 4. It is my express intent that this Waiver and Hold Harmless Agreement shall bind the members of my family and spouse, if I am alive, and my heirs, assigns and personal representative, if I am deceased, and shall be deemed as a <strong>release, waiver, discharge, and covenant not to sue</strong> the above-named RELEASEES. I hereby further agree that this Waiver of Liability and Hold Harmless Agreement shall be construed in accordance with the laws of the State of Florida and that any mediation, suit, or other proceeding must be filed or entered into only in Florid and the federal or state courts of Maryland. Any portion of this document deemed unlawful or unenforceable is severable and shall be stricken without any effect on the enforceability of the remaining provisions.
          p
            | <strong>In completing this registration, I acknowledge and represent that</strong> I have read the foregoing Wavier of Liability and Hold Harmless Agreement, understand it and sign it voluntarily as my own free act and deed; no oral representations, statements, or inducements, apart from the foregoing written agreement, have been made; I am at least eighteen (18) years of age and fully competent; and I execute this Agreement for full, adequate and complete consideration fully intending to be bound by same.
        .modal-footer
          button.btn.btn-primary(type='button', data-dismiss='modal') Close

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.0/bootstrap3-typeahead.min.js")
  script(src='https://js.braintreegateway.com/v2/braintree.js')
  script.
    var clientToken = "#{braintree_token}";
  script(src='js/register-form.js')