include ../mixins/flash-messages

doctype html
html(lang='en')

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    //- Standard OpenGraph Properties
    meta(property="og:type" content="website")

    title= title || 'SFL Ultimate'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(rel="stylesheet" href="/styles/font-awesome/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,400i,700")

    //- Customise the stylesheet for your site by editing /public/styles/site.sass
    link(rel="stylesheet" href="/styles/site.css")

    //- This file provides the default styling for the KeystoneJS Content Editor
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8
    //-[if lt IE 9]
      script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
      script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
    //-[endif]


    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

    //- Facebook Pixel Code
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2012250958870227');
      fbq('track', 'PageView');
    noscript
    img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=2012250958870227&ev=PageView&noscript=1')
    //- End Facebook Pixel Code

  //- HTML BODY
  body

    //- HEADER
    #header

      block header

      //- Customize navigation by changing the navLinks Array in ./routes/middleware.js

      div(role="navigation").navbar.navbar-inverse
        .container-fluid
          a.navbar-brand(href='/')
            img(src='/images/logo-skyline.png')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
              each link in navLinks
                li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label

    //- BODY
    #body

      //- NOTE:
      //- There is no .container wrapping class around body blocks to allow more flexibility in design.
      //- Remember to include it in your templates when you override the intro and content blocks!

      //- The Intro block appears above flash messages (used for temporary information display)
      block intro

      //- Flash messages allow you to display once-off status messages to users, e.g. form
      //- validation errors, success messages, etc.
      +flash-messages(messages)

      //- The content block should contain the body of your template's content
      block content


    //- FOOTER

    footer.site-footer
      .container: .row
        .col-sm-8
          br
          div
            a(href='https://www.instagram.com/sflultimate/' target='blank')
                i.fa.fa-instagram
            a(href='https://www.facebook.com/sflultimate/' target='blank')
              i.fa.fa-facebook
            a(href='mailto:sflultimate@gmail.com' target='blank')
              i.fa.fa-envelope
          br
          span Organized by South Florida Ultimate Inc., a local non-for-profit.
          br
        .col-sm-4
          h4 Links
          ul
            each link in footerLinks
              li(class=(section === link.key ? 'active' : null)): a(href=link.href)= link.label

      div.text-right.credits    
        .container Site built by <a href="http://danielprada.co" target="_blank">Daniel Prada</a>


    //- JAVASCRIPT

    //- jQuery 1.11.3 is included by default, and required by both Bootstrap
    //- and the KeystoneJS Content Editor. If you are not targeting IE8,
    //- you can upgrade to 2.1.4 (also bundled) for better performance.
    script(src='/js/jquery/jquery-1.11.3.min.js')

    //- Customise which Bootstrap javascript files are served by including
    //- them specifically here, instead of bootstrap-3.3.5.min.js
    script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

    //- Google Analytics Tracking
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73207322-1', 'auto');
      ga('send', 'pageview');

    //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
    //- which generate links to edit content for users who can access Keystone
    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    //- Add scripts that are globally required by your site here.
    script.
      (function (){
        var isLocalHost = window.location.href.indexOf("localhost") > -1;
        if (isLocalHost) {
          var script = document.createElement('script');
          script.src = '//localhost:35729/livereload.js';
          document.body.appendChild(script);
        }
      })();

    //- Include template-specific javascript files by extending the js block
    block js
